
<ion-content padding>
    <video id="video_background" loop autoplay preload muted>
        <source src="/assets/board.mp4" type='video/mp4' />
    </video> 
    
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>

        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item >
          <ion-label color="primary" (click)="presentModal()">Registrate</ion-label>
        </ion-item>
        
    </ion-card-content>
    

  </ion-card>
  

</ion-content>
