<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cloud"></ion-icon>
      <ion-label>Mis cursos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
