<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
    <ion-list>
        <ion-item>
          <ion-label>Nombre Curso</ion-label>
        </ion-item>
      </ion-list>

</ion-content>
<ion-content></ion-content>
