<ion-header>
  <ion-toolbar>
    <ion-title>
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>descripcion</ion-card-subtitle>
        <ion-card-title>Nombre Curso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>long description</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
